section{flex-wrap: wrap;}
.div0{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-right: 350px;}
    
    .div1{display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;}
    .div2{display:flex ;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;}
        
.div11{
    justify-content: space-around;
    margin-bottom: 15px;}
        
.div12{ 
    justify-content: space-around;
    margin-bottom: 15px;
    margin-left: 15px;}
 .div13{ 
    justify-content: space-around;
    margin-bottom: 15px;
    margin-left: 15px;}
.div14{
        
    justify-content: space-around;
    margin-bottom: 15px;
    margin-left: 15px;}
.div21{ justify-content: space-around;}
.div22{ justify-content: space-around;
        margin-left: 15px;}
.div23{ justify-content: space-around;
        margin-left: 15px;}
.div24{ justify-content: space-around;
        margin-left: 15px;}
